# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which are not supported by git).
*

# Allow main.py and required directories
!main.py
!requirements.txt
!app/
!config/
!handlers/
